@font-face {
    font-family: 'PixeloidSans';
    src: url('../../assets/fonts/PixeloidSans.ttf') format("truetype");
    src: url('../../assets/fonts/alternative_files/PixeloidSans.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'PixeloidSans';
    src: url('../../assets/fonts/PixeloidSans-Bold.ttf') format("truetype");
    src: url('../../assets/fonts/alternative_files/PixeloidSans-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'PixeloidMono';
    src: url('../../assets/fonts/PixeloidMono.ttf') format("truetype");
    src: url('../../assets/fonts/alternative_files/PixeloidMono.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'StayPixel';
    src: url('../../assets/fonts/StayPixelRegular-EaOxl.ttf') format("truetype");
    font-style: normal;
}