@use './partials/resets';
@use './partials/font';

body {
    font-family: 'PixeloidSans';
    background-color: #A2D2FF;
}

a {
    text-decoration: none;
}

button {
    font-family: 'PixeloidSans';
    border: none;
}