

.character-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__player-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 2rem;
        margin-bottom: 5rem;
    }

    &__player {
        width: 13rem;
        height: 13rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__p1-image {
        width: 95%;
    }

    &__p2-image {
        width: 95%;
    }

    &__character-grid {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        max-width: 46rem;
        justify-content: center;
    }

    &__character {
        width: 6rem;
        height: 6rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
    }
}