@use "../../styles/partials/mixin";
@use "../../styles/partials/animation";
@use "../../styles/partials/mixin" as *;

.character-select {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2.7rem;
        text-shadow: 0 0.3rem #FEE440;
        margin: 3rem 0 4rem 0;
        animation: selectTitleAnimation linear 2s infinite;

        @include tablet {
            font-size: 3.8rem;
            margin: 4rem 0 5rem 0;
        }
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 68rem;
        padding: 0 2rem;
        margin-bottom: 5rem;
    }

    &__player-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__player {
        min-width: 12rem;
        min-height: 12rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33vw;
        height: 33vw;

        @include tablet {
            max-width: 25rem;
            max-height: 25rem;
            border-width: 0.3rem;
        }
    }

    &__p1-image {
        width: 90%;
    }

    &__p2-image {
        width: 90%;
    }

    &__p1-placeholder,
    &__p2-placeholder {
        font-size: 2.5rem;
        font-weight: 700;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__p1-placeholder {
        color: #FF597B;
    }

    &__p2-placeholder {
        color: #1746A2;
    }

    &__name {
        font-size: 1.6rem;
        height: 1.6rem;
        margin: 1rem 0 2rem 0;

        @include tablet {
            font-size: 2.4rem;
            margin: 2rem 0 3rem 0;
        }
    }

    &__character-grid {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        max-width: 55rem;
        justify-content: center;
    }
}