@use '../../styles/partials/font';
@use '../../styles/partials/animation';

.versus {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title-container {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 4.5rem;
        text-shadow: 0 0.4rem #FF865E;
        margin: 3rem 0 4rem 0;
        animation: versusTitleAnimation linear 2s infinite;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        max-width: 66rem;
        width: 100%;
        margin-bottom: 5rem;
    }

    &__card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        min-height: 12rem;
        min-width: 12rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33vw;
        height: 33vw;
    }

    &__p1-image,
    &__p2-image {
        width: 90%;
    }

    &__name {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    &__text {
        font-size: 2rem;
        font-weight: 700;
        padding: 0 0.5rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__button {
        background-color: black;
        color: white;
        font-size: 2rem;
        border-radius: 0.2rem;
        border: 0.2rem solid transparent;
        padding: 0.5rem 2rem;

        &:hover {
            animation: fightButtonHover 0.4s linear infinite;
        }
    }
}