@use '../../styles/partials/animation';

.listing {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    cursor: pointer;

    &__name {
        font-weight: 700;

        &--hover {
            animation: detailsTitleAnimation linear 1s infinite;
        }
    }

    &__address {
        font-size: 1.3rem;
    }

    &__rating {
        font-size: 1.3rem;
    }
}