@use "../../styles/partials/font";
@use "../../styles/partials/animation";
@use "../../styles/partials/mixin" as *;

.main {
    text-align: center;

    &__title {
        font-family: 'PixeloidMono';
        font-size: 8rem;
        color: #FF865E;
        text-shadow: 0 0.7rem rgba(0, 0, 0, 0.91);
        animation: titleAnimation linear 1s infinite;

        @include tablet {
            font-size: 9.5rem;
            margin: 7rem 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__link-new {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 700;
        cursor: pointer;

        @include tablet {
            font-size: 4.2rem;
        }
        
        &--blink {
            animation: newGameBlink steps(1, end) 0.75s infinite;
        }
    }

    &__link-container {
        position: relative;
        display: flex;
        align-items: center;
        right: 1.6rem;
    }

    &__link-savory,
    &__link-sweet {
        font-size: 2.2rem;
        padding: 0.5rem 0;
        color: black;
        display: inline-block;
        cursor: pointer;

        @include tablet {
            font-size: 2.8rem;
        }

        &--selected {
            animation: gameTypeSelected steps(1, end) 0.1s infinite;
        }
    }

    &__link-icon {
        visibility: hidden;

        &--hovered {
            visibility: visible;
        }
    }
}