@use "../../styles/partials/font";

.main {
    text-align: center;

    &__title {
        font-family: 'Fibberish';
        font-size: 8rem;
        color: #FF865E;
        text-shadow: 0 0.7rem rgba(0, 0, 0, 0.91);
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link-new {
        font-size: 3rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    &__link-container {
        position: relative;
        display: flex;
        align-items: center;
        right: 1.6rem;
    }

    &__link-savory,
    &__link-sweet {
        font-size: 2.2rem;
        padding: 0.5rem 0;
        color: black;
        display: inline-block;
    }

    &__link-icon {
        visibility: hidden;

        &--hovered {
            visibility: visible;
        }
    }
}