@use '../../styles/partials/animation';
@use '../../styles/partials/mixin' as *;

.results {
    padding: 0 2rem;

    @include tablet {
        max-width: 92rem;
        margin: 0 auto;
    }

    &__header {
        display: flex;
        padding: 3rem 0 4rem 0;
    }

    &__winner {
        min-height: 12rem;
        min-width: 12rem;
        width: 24vw;
        height: 24vw;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            max-width: 18rem;
            max-height: 18rem;
            border-width: 0.3rem;
        }
    }

    &__image {
        width: 90%;
    }

    &__header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__header-title {
        margin: 0;
        padding-bottom: 2rem;
        font-size: 2.8rem;
        text-shadow: 0 0.4rem #FEF9EF;
        animation: resultsTitleAnimation linear 1s infinite;

        @include tablet {
            font-size: 3.4rem;
        }
    }

    &__header-subtitle {
        margin: 0;
        font-size: 2.2rem;
        text-shadow: 0 0.2rem #FEF9EF;
        animation: resultsTitleAnimation linear 1s infinite;
        text-align: center;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__listings-container {
        border: 0.2rem solid black;
        border-radius: 0.2rem;

        @include tablet {
            width: 48%;
            border-width: 0.3rem;
        }
    }

    &__listings-title {
        padding: 0 1rem;
    }

    &__listings {
        margin: 0 1rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        max-height: 50vh;
        overflow: auto;

        @include tablet {
            border-width: 0.3rem;
        }
    }

    &__filter-container {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    &__filter-price,
    &__filter-open,
    &__filter-button {
        flex-grow: 1;
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__dollar {
        color: grey;
        padding: 0 0.1rem;
        cursor: pointer;

        &--clicked {
            color: #FEE440;
        }
    }

    &__option {
        color: grey;
        cursor: pointer;
        padding-left: 0.2rem;

        &--clicked {
            color: #FEE440;
        }
    }

    &__filter-button {
        background-color: black;
        color: white;
        border: 0.2rem solid transparent;

        &:hover {
            animation: buttonHover 2s linear infinite;
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__reset-button {
        background-color: black;
        color: white;
        padding: 0.8rem 3rem;
        font-size: 1.9rem;
        border: 0.3rem solid transparent;

        &:hover {
            animation: buttonHover 1s linear infinite;
        }
    }
}