

.results {
    padding: 0 2rem;

    &__header {
        display: flex;
    }

    &__winner {
        height: 12rem;
        width: 12rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 90%;
    }

    &__header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    &__listings-container {
        border: 0.2rem solid black;
        border-radius: 0.2rem;
    }

    &__listings-title {
        padding: 0 1rem;
    }

    &__listings {
        margin: 0 1rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        height: 30rem;
        overflow: auto;
    }

    &__filter-container {
        margin-top: 2rem;
        display: flex;
        padding: 0 1rem;
    }

    &__filter-price,
    &__filter-open,
    &__filter-button {
        flex-grow: 1;
    }

    &__dollar {
        color: grey;
        padding: 0 0.1rem;
        cursor: pointer;

        &--clicked {
            color: green;
        }
    }

    &__option {
        color: grey;
        cursor: pointer;

        &--clicked {
            color: red;
        }
    }

    &__filter-button {
        background-color: black;
        color: white;
    }

    &__details-container {
        margin-top: 2rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
    }

    &__details-title {
        padding: 0 1rem;
    }

    &__map-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__map {
        width: 22rem;
        height: 22rem;
        border: none;
    }
}