@use '../../styles/partials/animation';

.results {
    padding: 0 2rem;

    &__header {
        display: flex;
        padding: 3rem 0 4rem 0;
    }

    &__winner {
        min-height: 12rem;
        min-width: 12rem;
        width: 25vw;
        height: 25vw;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 90%;
    }

    &__header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__header-title {
        margin: 0;
        padding-bottom: 2rem;
        font-size: 2.8rem;
        text-shadow: 0 0.4rem #FEF9EF;
        animation: resultsTitleAnimation linear 1s infinite;
    }

    &__header-subtitle {
        margin: 0;
        font-size: 2.2rem;
        text-shadow: 0 0.2rem #FEF9EF;
        animation: resultsTitleAnimation linear 1s infinite;
    }

    &__listings-container {
        border: 0.2rem solid black;
        border-radius: 0.2rem;
    }

    &__listings-title {
        padding: 0 1rem;
    }

    &__listings {
        margin: 0 1rem;
        border: 0.2rem solid black;
        border-radius: 0.2rem;
        max-height: 50vh;
        overflow: auto;
    }

    &__filter-container {
        margin: 2rem 0;
        display: flex;
        padding: 0 1rem;
    }

    &__filter-price,
    &__filter-open,
    &__filter-button {
        flex-grow: 1;
        font-size: 1.3rem;
    }

    &__dollar {
        color: grey;
        padding: 0 0.1rem;
        cursor: pointer;

        &--clicked {
            color: #FF865E;
        }
    }

    &__option {
        color: grey;
        cursor: pointer;
        padding-left: 0.2rem;

        &--clicked {
            color: #FF865E;
        }
    }

    &__filter-button {
        background-color: black;
        color: white;
        border: 0.2rem solid transparent;

        &:hover {
            animation: buttonHover 2s linear infinite;
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__reset-button {
        background-color: black;
        color: white;
        padding: 0.8rem 3rem;
        font-size: 1.9rem;
        border: 0.3rem solid transparent;

        &:hover {
            animation: buttonHover 1s linear infinite;
        }
    }
}